<!DOCTYPE html>
<html>
<head>
    <title>Edit Context</title>
</head>
<body>
    <h2>Edit the Context</h2>
    <table id="dataTable">

    </table>

    // button to add new row
    <button id="addRow">Add Row</button>

<script>
    // fetches data from json_data_view and populates the table
    function populateTable(jsonData) {
        var table = document.getElementById('dataTable');
        for(const key in jsonData) {
            var row = table.insertRow();
            var cell1 = row.insertCell();
            var cell2 = row.insertCell();
            cell1.innerHTML = key;
            cell2.innerHTML = jsonData[key];
            // make cells editable
            cell1.contentEditable = true;
            cell2.contentEditable = true;

        };
    }

    // add new row
    function addRow() {
        var table = document.getElementById('dataTable');
        var row = table.insertRow();
        var cell1 = row.insertCell();
        var cell2 = row.insertCell();
        cell1.innerHTML = "New Key";
        cell2.innerHTML = "New Value";
        // make cells editable
        cell1.contentEditable = true;
        cell2.contentEditable = true;
    }

    document.addEventListener('DOMContentLoaded', function() {
        fetch('json_data_view')
        .then(response=>response.json())
        .then(jsonData=>populateTable(jsonData))
        .catch(error=>console.log(error));
    });
</script>

</body>
</html>


