<!DOCTYPE html>
<html>
<head>
    <title>TALE</title>
</head>
<body>
    <h1>Welcome to Your TALE Assitant</h1>
    
    <h2>Options:</h2>
    <ul>
        <li><a href="{% url 'upload_file' %}">File Upload</a></li>
        <li><a href="{% url 'download_selected_files' %}">File Download</a></li>
        <li><a href="{% url 'file_process' %}">Process File</a></li>
        <li><a href="{% url 'download_all_outputs' %}">Download all outputs</a></li>
        <li><a href="{% url 'display_outputs' %}">Display outputs</a></li>
    </ul>
</body>
</html>
